/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.category-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

.category-selector li {
	cursor: pointer;
	background-color: #E5E5E5;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 20px;
	/* Arrondir les contours */
	font-size: 14px;
	font-weight: bold;
}

.category-selector li:hover {
	background-color: #D0D0D0;
}

.category-selector li.selected {
	background-color: #1D6154;
	color: #ffffff;
}

.modify {
	cursor: pointer;
}

/**** MODAL ****/

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-photo {
	padding: 105px;
}

.modal-photo, .modal-photo-add {
	border-radius: 10px;
	position: fixed;
	background-color: #fefefe;
	top: 50%;
	/* 1/3 de la hauteur totale de l'écran */
	left: 50%;
	/* Centré horizontalement */
	transform: translateY(-50%) translateX(-50%);
	/* Ajuste la position pour centrer correctement la fenêtre contextuelle */
	border: 1px solid #888;
	width: 630px;
	height: 731px;
	overflow: auto;
}

.modal-photo-add {
    border-radius: 10px;
    position: fixed;
    background-color: #fefefe;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 1px solid #888;
    width: 630px;
    height: 731px;
    overflow: auto;
}

.modal-photo-add h2 {
    text-align: center;
}

.modal-photo-add .add-photo-container {
    background-color: #E8F1F6;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-photo-add .add-photo-button {
    background-color: #CBD6DC;
    color: #306685;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Modifie la valeur pour arrondir les contours */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: flex; /* Ajoute pour aligner l'icône et le texte */
    align-items: center; /* Ajoute pour aligner l'icône et le texte */
}


.modal-photo-add .add-photo-button:hover {
    background-color: #B0C1C9;
}

.modal-photo-add .add-photo-container i {
    font-size: 3em;
    margin-bottom: 21px;
}

.modal-photo-add .photo-format {
    margin-top: 10px;
}

.modal-content, .modal-content-add {
	padding: 20px;
}

.modal-content h2 {
	text-align: center;
	margin: 20px 0;
}

.close {
	position: absolute;
	top: 15px;
	right: 20px;
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modalItem {
	display: flex;
	flex-direction: column;
	width: calc(20% - 20px);
	margin: 10px;
}


.modalItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(20% - 20px);
	margin: 10px;
}


.modalItem img {
	width: 100%;
	max-height: 150px;
	/* Ajuste cette valeur pour modifier la hauteur maximale des images */
	object-fit: contain;
}


.modalItem span {
	position: absolute;
	top: 5px;
	right: 5px;
}

.modalItem figcaption {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	overflow: hidden;
	margin-top: 10px;
	text-align: center;
}


.modal-content .modal-items {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	overflow: auto;
}

.modal-content .modal-items img {
	width: 100px;
	/*Valeur pour modifier la taille des images */
	height: auto;
	object-fit: cover;
}

.modal-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	border-top: 1px solid #B3B3B3;
	padding-top: 20px;
}

.modal-buttons button {
	background-color: #1D6154;
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
	transition: background-color 0.3s, border-color 0.3s;
}

.modal-buttons button:hover {
	background-color: #147a50;
	border-color: #147a50;
}

.modal-buttons .add-photo {
	background-color: #1D6154;
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 20px;
	/* Copié de .category-selector li */
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
	transition: background-color 0.3s, border-color 0.3s;
}

.modal-buttons .add-photo:hover {
	background-color: #147a50;
	border-color: #147a50;
}

.modal-buttons .delete-gallery {
	background-color: transparent;
	border: none;
	color: red;
	margin-bottom: 0;
	padding: 0;
}

.modal-buttons .delete-gallery:hover {
	background-color: transparent;
	border-color: transparent;
	color: #ff0000;
}

.submit-photo {
	background-color: #1D6154;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #1D6154;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    transition: background-color 0.3s, border-color 0.3s;

}

.modal-content .previous {
	background-color: #1D6154;
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
	transition: background-color 0.3s, border-color 0.3s;
}

.modal-content .previous:hover {
	background-color: #147a50;
	border-color: #147a50;
}

.modal-photo-add {
    padding: 105px;
}

.modal-photo-add * + * {
    margin-top: 47px;
}

.modal-photo-add hr {
    border: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
}

.modal-photo-add button {
    margin-top: 10px;
    margin-bottom: 0;
}


.trash-can {
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
}

.trash-can:hover {
	color: #ff0000;
}

.trash-can-container {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #000;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 10;
}

/* Styles pour login.html */

body.login-page {
	background-color: #E5E5E5;
}

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

#login h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin-bottom: 1em;
	text-align: center;
}

#login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
}

#login-form label {
	margin-bottom: 0.5em;
}

#login-form input {
	margin-bottom: 1em;
	height: 40px;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
}

#login-form button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1em;
	color: #ffffff;
	background-color: #1D6154;
	border: none;
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	text-align: center;
	margin-bottom: 1em;
}

#login-form button:hover {
	background-color: #147a50;
}

#error-message {
	width: 100%;
	max-width: 300px;
	text-align: center;
	font-size: 1em;
	color: red;
	margin-bottom: 1em;
}

/* Mot de passe oublié */
#login-form .forgot-password {
	font-family: 'Work Sans';
	font-size: 0.8em;
	color: #3D3D3D;
	text-align: center;
	cursor: pointer;
	transition: color 0.3s;
}

#login-form .forgot-password:hover {
	color: #147a50;
}

.modal-photo-add-title-label {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #3D3D3D;
}

.modal-photo-add-title-input {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.arrow-back {
	position: absolute;
	top: -30px;
	left: 30px;
	font-size: 1.5rem;
	cursor: pointer;
	color: #000;
  }

  .title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%; /* La moitié de la hauteur de la modal */
  }

  #add-photo-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
  }
  
  .separator {
	width: 100%;
	height: 1px;
	background-color: #B3B3B3;
	margin-top: 1rem;
	margin-bottom: 1rem;
  }
  
  .editing-bar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 59px;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .editing-bar i {
	margin-right: 10px;
  }
  
  .publish-changes {
	background-color: #fff;
	color: #000;
	margin-left: 15px;
	padding: 5px 10px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
  }
  
  .publish-changes:hover {
	background-color: #ccc;
  }

  body.authenticated {
	padding-top: 59px;
  }
  
  .my-projects {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .edit {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
	margin-left: 1em;
  }
  
  .modify {
	margin-left: 4px;
  }
  